<div>
  <h2>My current position</h2>

  <label>X:
    <input type="number" [(ngModel)]="currX">
  </label>

  <br>

  <label>Y:
    <input type="number" [(ngModel)]="currY">
  </label>
</div>


<div>
  <h2>Fly Drone to me -> scan -> display nearest damaged tree</h2>

  <label>Drone:
    <select [(ngModel)]="selectedDroneId">
      <option *ngFor="let droneId of activeDronesIds" [value]="droneId">{{droneId}}</option>
    </select>
  </label>

  <br>

  <button (click)="flyDroneToCurrLocAndScanForDamagedTree()">Fly to my location & scan for nearest damaged tree</button>

  <div *ngIf="nearestDamagedTreePos && distToNearestDamagedTree">
    <p>The nearest damaged tree is at X: {{nearestDamagedTreePos.x}} and Y: {{nearestDamagedTreePos.y}}.</p>
    <p>You have to move {{distToNearestDamagedTree.x}} meters on the X axis and {{distToNearestDamagedTree.y}} meters on the Y axis.</p>
  </div>
</div>

<div>
  <table *ngIf="damagedTreesData">
    <tbody>
      <th>Tree X</th>
      <th>Tree Y</th>

      <tr *ngFor="let tree of damagedTreesData?.damagedTrees">
        <td>{{tree.x}}</td>
        <td>{{tree.y}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Mark tree as examined</h2>

  <label>X:
    <input type="number" [(ngModel)]="inputTreeX">
  </label>

  <br>

  <label>Y:
    <input type="number" [(ngModel)]="inputTreeY">
  </label>

  <br>

  <button (click)="markTreeAsExamined(inputTreeX, inputTreeY)">Mark tree as examined</button>
</div>
