<div>
  <h2>Fly Drone</h2>

  <label>Drone:
    <select [(ngModel)]="selectedFlyDroneId">
      <option *ngFor="let droneId of activeDronesIds" [value]="droneId">{{droneId}}</option>
    </select>
  </label>

  <br>

  <label>X:
    <input type="number" [(ngModel)]="currX">
  </label>

  <br>

  <label>Y:
    <input type="number" [(ngModel)]="currY">
  </label>

  <br>

  <button (click)="flyDroneTo(selectedFlyDroneId, currX, currY)">Fly to location</button>
</div>

<div>
  <h2>Scan Area around Drone for damaged Trees:</h2>

  <label>Drone:
    <select [(ngModel)]="selectedScanDroneId">
      <option *ngFor="let droneId of activeDronesIds" [value]="droneId">{{droneId}}</option>
    </select>
  </label>

  <br>

  <button (click)="scanAroundDrone(selectedScanDroneId)">Scan around drone</button>
</div>

<div>
  <table *ngIf="damagedTreesData">
    <tbody>
      <th>Tree X</th>
      <th>Tree Y</th>

      <tr *ngFor="let tree of damagedTreesData?.damagedTrees">
        <td>{{tree.x}}</td>
        <td>{{tree.y}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Mark tree as examined</h2>

  <label>X:
    <input type="number" [(ngModel)]="treeX">
  </label>

  <br>

  <label>Y:
    <input type="number" [(ngModel)]="treeY">
  </label>

  <br>

  <button (click)="markTreeAsExamined(treeX, treeY)">Mark tree as examined</button>
</div>
